html

head

body
  h1= h1

ul

  each val in spaces

    li(id='title' )
      a(href='http://localhost:3000/spaces/' + val.dataValues.id)= val.dataValues.title + ' '
    li(id='description')= val.dataValues.description + ' '
    li(id='price')= val.dataValues.price + ' '
    li(id='availability')= val.dataValues.availability + ' '



    br
